<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="de">
  <head>
      <meta charset="utf-8">
      <title>ITS - Dataupload</title>
      <link rel="shortcut icon" href="/images/or-favicon.png"/>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript"></script>
      <script src="http://malsup.github.com/jquery.form.js" type="text/javascript"></script>
      <script src="/javascripts/tether.min.js" type="text/javascript"></script>
      <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
      <script src="/javascripts/its-utility.js" type="text/javascript"></script>
      <script src="/javascripts/responsive.min.js" type="text/javascript"></script>
      <script src="/javascripts/alertify.min.js" type="text/javascript"></script>

      <link href="/stylesheets/tether.min.css" rel="stylesheet" type="text/css">
      <link href="/stylesheets/responsive.min.css" rel="stylesheet" type="text/css"/>
      <link href="/stylesheets/alertify.css" rel="stylesheet" type="text/css"/>
      <link href="/stylesheets/alertify.bootstrap.min.css" rel="stylesheet" type="text/css"/>
      <link href="/stylesheets/pigendo-bootstrap-default.css" rel="stylesheet" type="text/css">
      <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

      <script type="text/javascript">
          // Change alertify defaults
          alertify.defaults.notifier.position = "top-right";

          $(document).ready(function() {
              $("#uploadTable").tablelist();

              if(typeof $.urlParam('success') === "string" && $.urlParam('success') === "true") {
                  alertify.success("Daten erfolgreich hochgeladen.")
              } else if(typeof $.urlParam('success') === "string" && $.urlParam('success') === "false") {
                  alertify.error("Daten fehlerhaft! Upload abgebrochen.")
              }

              $("#inputRatios, #inputVehciles").change(function() {
                  if( $("#inputRatios").val() !== "" &&  $("#inputVehciles").val() !== "") {
                      $("#dataSubmitBtn").removeAttr("disabled");
                  } else {
                      $("#dataSubmitBtn").attr("disabled");
                  }
              })
          });
      </script>
  </head>

  <body>
      <div class="topnav" id="customNavbar">
          <a href="/">Home</a>
          <a href="/dataupload">Datenupload</a>
          <a href="/tabusearch">ITS</a>
          <a href="/overviewdata">Datenüberblick</a>
          <a href="javascript:void(0);" class="icon" onclick="toggleNavbarClass('customNavbar')">&#9776;</a>
      </div>

      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1>Hochladen der Daten</h1>
                  <p>Bis jetzt ist es nur möglich Daten gleichen Format wie bei der <a href="http://challenge.roadef.org/2005/en/">ROADEF 2005 Herausforderung</a> hochzuladen
                      Diese müssen im CSV-Format, getrennt mit Semikolons in einzelnen Textdateien gespeichert sein. Beispieldaten: <a href="http://challenge.roadef.org/2005/files/Instances_set_A.zip">
                          viele</a> und <a href="/dowloaddatasetroadef?id=5a667ab8f976f04904aea6fb" target="_blank">wenige</a> Fahrzeuge</p>
                  <!--<p>Till now it's only possible to upload data in the ROADEF 2005 challenge data csv format (Instances_set_A)</p>-->
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <h2>ROADEF:</h2>
                  <form id="uploadForm" action="uploadRoadef" method="post" enctype="multipart/form-data">
                      <table id="uploadTable" data-table-list class="table-striped table-bordered">
                          <!--<tr>
                              <td><label for="optimizationObjectives">Optimzation Objectives:</label></td>
                              <td><input type="file" name="optimizationObjectives"><br></td>
                          </tr>

                          <tr>
                              <td><label for="paintBatchLimit">Paint batch limit:</label></td>
                              <td><input type="file" name="paintBatchLimit"><br></td>
                          </tr>-->

                          <tr>
                              <td><label for="ratios">Ratios:</label></td>
                              <td><input style="height: 100%;" type="file" id="inputRatios" name="ratios"><br></td>
                          </tr>

                          <tr>
                              <td><label for="vehicles">Fahrzeuge:</label></td>
                              <td><input style="height: 100%;" type="file" id="inputVehciles" name="vehicles"><br></td>
                          </tr>
                      </table>

                      <input type="submit" id="dataSubmitBtn" disabled>
                  </form>
              </div>
          </div>
      </div>
  </body>
</html>