<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/dataupload">Data-Uploadsite</a>
    <br><br><br>
    <a href="/tabusearch">Tabu-Search</a>
    <br><br><br>
    <a href="/overviewdata">Dataoverviewpage</a>
  </body>
</html>
