<!DOCTYPE html>
<html ng-app="integratedTabuSearchApp">
  <head>
      <script src="/javascripts/jquery-3.2.1.min.js"></script>
      <script src="/javascripts/angular.min-1.5.6.js"></script>

      <script src="/javascripts/controllers/dataOverviewController.js"></script>
  </head>

  <body ng-controller="dataOverviewController">
    <h1>Overview over the saved data</h1>

    <h2>1. Standard Server Parameters</h2>
    <!--<input type="button" onclick="toggleHiddenClass('selectedParameters')" value="toggle">-->
    <table id="selectedParameters" class="">
        <thead>
            <th>Name</th>
            <th>Value</th>
            <th>Description</th>
        </thead>
        <tr ng-repeat="param in data.standardParameters">
            <td>{{param.name}}</td>
            <td><input class="parameter" id="{{param.ident}}" type="number" disabled value="{{param.value}}"></td>
            <td>{{param.description}}</td>
        </tr>
    </table>
  </body>
</html>