<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="de" ng-app="integratedTabuSearchApp">
<head>
    <meta charset="utf-8">
    <title>ITS - Dataupload</title>
    <link rel="shortcut icon" href="/images/or-favicon.png"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/angular.min-1.5.6.js"></script>
    <script src="/javascripts/controllers/dataOverviewController.js"></script>
    <script src="/javascripts/tether.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/javascripts/its-utility.js" type="text/javascript"></script>

    <link href="/stylesheets/tether.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/pigendo-bootstrap-default.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="dataOverviewController">
<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#"><span>Brand</span></a>-->
            <!-- TODO insert branding <img src="res/img/brand.png" class="img-responsive index-brand">-->
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/dataupload">Datenupload</a>
                </li>
                <li>
                    <a href="/tabusearch">ITS</a>
                </li>
                <li>
                    <a href="/overviewdata">Datenüberblick</a>
                </li>
                <li>
                    <a id="navbar-benefits" href="/#section-benefits" onclick="customScrollTo('#section-benefits', 1500)">Prototyp</a>
                </li>
                <li>
                    <a href="/#section-team" id="navbar-team" onclick="customScrollTo('#section-team', 1500)">Team</a>
                </li>
                <li>
                    <a href="/#section-contact" id="navbar-contact" onclick="customScrollTo('#section-contact', 1500)">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h1>Overview over the saved data</h1>

    <hr>
    <h2>Server Standardparameters</h2>
    <!--<input type="button" onclick="toggleHiddenClass('selectedParameters')" value="toggle">-->
    <table id="selectedParameters" class="">
        <thead>
        <th>Name</th>
        <th>Value</th>
        <th>Description</th>
        </thead>
        <tr ng-repeat="param in data.standardParameters">
            <td>{{param.name}}</td>
            <td><input class="parameter" id="{{param.ident}}" type="number" disabled value="{{param.value}}"></td>
            <td>{{param.description}}</td>
        </tr>
    </table>
    <hr>

    <h2>Saved Datasets</h2>
    <table>
        <thead>
        <th>Nr.</th>
        <th>Description</th>
        <th>Creation timestamp</th>
        <th>Link</th>
        </thead>

        <tr ng-repeat="datasetId in data.datasetIds">
            <td>{{datasetId.nr}}</td>
            <td>{{datasetId.description}}</td>
            <td>{{datasetId.parsedTimestamp}}</td>
            <td><a href="/viewdataset#?id={{datasetId._id}}" target="_blank">View dataset</a></td>
        </tr>
    </table>

    <hr>
    <h2>Performed Tabu Searches</h2>
    <table>
        <thead>
        <th>Nr.</th>
        <th>Opt. Objectives</th>
        <th>Non-Standard Parameters</th>
        <th>Used Dataset</th>
        <th>Run timestmap</th>
        <th>Results</th>
        </thead>

        <tr ng-repeat="tabusearch in data.tabusearches">
            <td>{{tabusearch.nr}}</td>
            <td>
                <ol>
                    <li ng-repeat="optObj in tabusearch.optObjective.orderDisplayingNames">{{optObj}}</li>
                </ol>
            </td>
            <td>
                <ul>
                    <li ng-repeat="param in tabusearch.parameters" ng-hide="param.standard">{{param.name}} = {{param.value}}</li>
                </ul>
            </td>
            <td><a href="/viewdataset#?id={{tabusearch.dataset._id}}" target="_blank">View dataset</a></td>
            <td>{{tabusearch.parsedTimestamp}}</td>
            <td>TODO Link to results</td>
        </tr>
    </table>
</div>
</body>
</html>