<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="de" ng-app="integratedTabuSearchApp">
    <head>
        <meta charset="utf-8">
        <title>ITS - Dataoverview</title>
        <link rel="shortcut icon" href="/images/or-favicon.png"/>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="/javascripts/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/javascripts/angular.min-1.5.6.js" type="text/javascript"></script>
        <script src="/javascripts/controllers/dataOverviewController.js" type="text/javascript"></script>
        <script src="/javascripts/tether.min.js" type="text/javascript"></script>
        <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
        <script src="/javascripts/its-utility.js" type="text/javascript"></script>
        <script src="/javascripts/responsive.min.js" type="text/javascript"></script>

        <link href="/stylesheets/tether.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/responsive.min.css" rel="stylesheet" type="text/css"/>
        <link href="/stylesheets/pigendo-bootstrap-default.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

        <script type="text/javascript">
            $(document).ready(function() {
                $("#selectedParameters").tablelist();
                $("#datasetsTable").tablelist();
                $("#performedTabuSearchesTable").tablelist();

                $("#serverParametersAccordionOverviewData").accordion({
                    heightStyle: "content",
                    collapsible: true,
                    active: false
                });
            });
        </script>
    </head>

    <body ng-controller="dataOverviewController">
        <div class="topnav" id="customNavbar">
            <a href="/">Home</a>
            <a href="/dataupload">Datenupload</a>
            <a href="/tabusearch">ITS</a>
            <a href="/overviewdata">Datenüberblick</a>
            <a href="javascript:void(0);" class="icon" onclick="toggleNavbarClass('customNavbar')">&#9776;</a>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Überblick der gespeicherten Datensätze</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Serverseitige Standardwerte der Parameterr</h2>
                    <div id="serverParametersAccordionOverviewData">
                        <h2>Ausklappen</h2>
                        <div>
                            <table id="selectedParameters" data-table-list class="table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th>Wert</th>
                                    <th>Beschreibung</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="param in data.standardParameters">
                                    <td scope="row">{{param.name}}</td>
                                    <td><input class="parameter" id="{{param.ident}}" type="number" disabled value="{{param.value}}"></td>
                                    <td>{{param.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Gespeicherte Datensätze</h2>
                    <table id="datasetsTable" data-table-list class="table-striped table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Nr.</th>
                            <th>Beschreibung</th>
                            <th>Erstellungszeitstempel</th>
                            <th>Datensatz öffnen</th>
                            <th>Datensatz herunterladen</th>
                        </tr>
                        </thead>

                        <tr ng-repeat="datasetId in data.datasetIds">
                            <td scope="row">{{datasetId.nr}}</td>
                            <td>{{datasetId.description}}</td>
                            <td>{{datasetId.parsedTimestamp}}</td>
                            <td>
                                <a href="/viewdataset#?id={{datasetId._id}}" target="_blank">Link</a>
                            </td>

                            <td>
                                <a href="/downloaddatasetroadef?id={{datasetId._id}}" target="_blank" class="btn btn-primary">Download im ROADEF Format</a>
                                <!--<div class="input-group">
                                    <select id="format-selector-{{datasetId._id}}" style="height: auto;" class="custom-select" id="inputGroupSelect04">
                                        <option value="ROADEF" selected>ROADEF</option>
                                        <option value="JSON">JSON</option>
                                    </select>
                                    <div class="input-group-append">
                                        <a href="/dowloaddatasetroadef?id={{datasetId._id}}" target="_blank" class="btn btn-primary" >Link</a>
                                    </div>
                                </div>-->
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Ausgeführte Tabu Searches</h2>
                    <table id="performedTabuSearchesTable" data-table-list class="table-striped table-bordered">
                        <thead>
                        <tr scope="col">
                            <th>Nr.</th>
                            <th>Opt. Objectives</th>
                            <th>Geänderte Parameterwerte</th>
                            <th>Verwendeter Datensatz</th>
                            <th>Ausführungszeitstempel</th>
                            <!--<th>Ergebnisse</th>-->
                            <th>ITS</th>
                        </tr>
                        </thead>

                        <tr ng-repeat="tabusearch in data.tabusearches">
                            <td scope="row">{{tabusearch.nr}}</td>
                            <td>
                                <ol>
                                    <li ng-repeat="optObj in tabusearch.optObjective.orderDisplayingNames">{{optObj}}</li>
                                </ol>
                            </td>
                            <td>
                                <ul>
                                    <li ng-repeat="param in tabusearch.parameters" ng-hide="param.standard">{{param.name}} = {{param.value}}</li>
                                </ul>
                            </td>
                            <td><a href="/viewdataset#?id={{tabusearch.dataset._id}}" target="_blank">{{tabusearch.dataset.description}}</a></td>
                            <td>{{tabusearch.parsedTimestamp}}</td>
                            <!--<td>TODO Link to results</td>-->
                            <td><a href="/tabusearch#?id={{tabusearch._id}}" target="_blank">Erneute Ausführung</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>