<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="de" ng-app="integratedTabuSearchApp">
    <head>
        <meta charset="utf-8">
        <title>ITS - Algorithm</title>
        <link rel="shortcut icon" href="/images/or-favicon.png"/>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="/javascripts/notify.min.js" type="text/javascript"></script>
        <script src="/javascripts/angular.min-1.5.6.js" type="text/javascript"></script>
        <script src="/javascripts/controllers/integratedTabuSearchController.js" type="text/javascript"></script>
        <script src="/javascripts/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/javascripts/tether.min.js" type="text/javascript"></script>
        <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
        <script src="/javascripts/its-utility.js" type="text/javascript"></script>
        <script src="/javascripts/responsive.min.js" type="text/javascript"></script>

        <link href="/stylesheets/tether.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/responsive.min.css" rel="stylesheet" type="text/css"/>
        <link href="/stylesheets/pigendo-bootstrap-default.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/fontawesome-all.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

        <style>
            #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
            #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
            #sortable li span { position: absolute; margin-left: -1.3em; }

            .hidden {
                display: none;
            }

            .logMarginLeft {
                margin-left: 15px;
            }

            .logMarginBottom {
                margin-bottom: 10px;
            }

            .show-more, .show-less {
                color: #9a9a9a;
                cursor: pointer;
                margin-left: 10px;
            }
            .show-log {
                color: #9a9a9a;
                cursor: pointer;
            }

            .centerDiv {
                margin: auto;
                display: block;
            }

            .darkGray {
                color: #9a9a9a;
            }

            .hrDarkGray {
                border-top: 1px solid #9a9a9a;
                margin-top: 10px;
                margin-bottom: 10px;
                display: block;
                width: 100%;
            }

            .hrDarkGray.hrDarkGrayThick {
                border-top: 3px solid #9a9a9a;
            }

            .hrDarkGrayDashed {
                border-top: 1px dashed #9a9a9a;
                margin-top: 10px;
                margin-bottom: 10px;
                display: block;
                width: 100%;
            }

            .solution {
                margin-top: 5px;
                height: 100%;
            }

            .vehicle {
                height: 30px;
                width: 40px;
                margin-bottom: 5px;
                margin-right: 5px;
                display: inline-block;
            }

            .vehicleNr {
                height: 20px;
                width: 20px;
                text-align: center;
                margin-top: 5px;
                background-color: #faf1ff;
            }

            .vehicle.color0 {
                background-color: #ffb7b5;
            }

            .vehicle.color1 {
                background-color: #ff9900;
            }

            .vehicle.color2 {
                background-color: #000000;
            }

            .vehicle.color3 {
                background-color: #48ff1a;
            }

            .vehicle.color4 {
                background-color: #1effda;
            }

            .vehicle.color5 {
                background-color: #252dff;
            }

            .vehicle.color6 {
                background-color: #9f00ff;
            }

            .vehicle.color7 {
                background-color: #ff3fe0;
            }

            .vehicle.color8 {
                background-color: #faf1ff;
            }

            .vehicle.color9 {
                 background-color: #fcff03;
             }

            .vehicle.color10 {
                background-color: #daffea;
            }

            .vehicle.color11 {
                background-color: #ff8c82;
            }

            .vehicle.color12 {
                background-color: #ff006e;
            }

            .vehicle.color13 {
                background-color: #ff0e05;
            }

            .vehicle.color14 {
                background-color: #8c94ff;
            }

            .vehicle.color15 {
                background-color: #3baaff;
            }

            .tabsContainer{
                margin: 0 auto;
            }

            ul.tabs{
                margin: 0px;
                padding: 0px;
                list-style: none;
            }
            ul.tabs li{
                background: none;
                color: #222;
                display: inline-block;
                padding: 10px 15px;
                cursor: pointer;
            }

            ul.tabs li.current{
                background: #ededed;
                color: #222;
            }

            .tab-content{
                display: none;
                background: #ededed;
                padding: 15px;
            }

            .tab-content.current{
                display: inherit;
            }
        </style>

        <script>
            var warnParamAdaptionOnce = true;

            $(document).ready(function() {
                if(typeof $.urlParam('id') !== "string") {
                    // Creation of the tabu search
                    $("#sortable").sortable({
                        cursor: "move",
                        forcerHelpSize: true
                    });
                    $("#sortable").disableSelection();
                    $("#selectedParameters").tablelist();

                    $("#tabuSearchInfoAccordionWithinConfiguration").accordion({
                        heightStyle: "content",
                        collapsible: true,
                        active: false
                    });

                    $("#tabuSearchInfoAccordionWithinConfiguration").click(function() {
                        if(warnParamAdaptionOnce) {
                            warnParamAdaptionOnce = false;
                            $.notify("Achtung: Parameter nur mit Wissen über deren Auswirkungen anpassen!", "warn");
                        }
                    });
                } else {
                    // Performing of the tabu search
                    $("#selectedParametersTabuSearch").tablelist();

                    $("#tabuSearchInfoAccordion").accordion({
                        heightStyle: "content",
                        collapsible: true,
                        active: false
                    });

                    $('ul.tabs li').click(function(){
                        var tab_id = $(this).attr('data-tab');

                        $('ul.tabs li').removeClass('current');
                        $('.tab-content').removeClass('current');

                        $(this).addClass('current');
                        $("#"+tab_id).addClass('current');
                    });
                }
            });

            function moveToLog(jQueryElem) {
                $("#tab-link-1").removeClass("current");
                $("#tab-link-2").addClass("current");
                $("#tab-1").removeClass("current");
                $("#tab-2").addClass("current");

                $('html, body').animate({
                    scrollTop: $("." + jQueryElem.attr("customref")).offset().top
                }, 2000);
            }

            function showLessIteration(jQueryElem) {
                jQueryElem.addClass("hidden");
                $("#" + jQueryElem.attr("customref")).removeClass("hidden");

                // Minimize childs
                showLess($("#" + jQueryElem.attr("id") + "-a"));
                showLess($("#" + jQueryElem.attr("id") + "-b"));
                showLess($("#" + jQueryElem.attr("id") + "-c"));
                showLess($("#" + jQueryElem.attr("id") + "-newBest"));
            }

            function showMoreIteration(jQueryElem) {
                jQueryElem.addClass("hidden");
                $("#" + jQueryElem.attr("customref")).removeClass("hidden");

                // Expand childs
                showMore($("#" + jQueryElem.attr("id") + "-a"));
                showMore($("#" + jQueryElem.attr("id") + "-b"));
                showMore($("#" + jQueryElem.attr("id") + "-c"));
                showMore($("#" + jQueryElem.attr("id") + "-newBest"));
            }

            function showLess(jQueryElem) {
                jQueryElem.addClass("hidden");
                $("#" + jQueryElem.attr("customref")).removeClass("hidden");
                jQueryElem.parent().nextAll().addClass("hidden");
            }

            function showMore(jQueryElem) {
                jQueryElem.addClass("hidden");
                $("#" + jQueryElem.attr("customref")).removeClass("hidden");
                jQueryElem.parent().nextAll().removeClass("hidden");
            }

            function arrayContainsString(string, array) {
                for(var i in array) {
                    if(array[i] === string) {
                        return true;
                    }
                }

                return false;
            }

            var callingCounter = 0;
            var amountOfParameters = -1;
            function finishPost(payload) {
                callingCounter++;

                if(callingCounter == amountOfParameters) {
                    // All parameters were checked
                    callingCounter = 0;
                    amountOfParameters = -1;

                    setTimeout(function() {
                        // Remove the standard parameters for which the user has entered a new custom value
                        var parameterIdsToIgnore = [];
                        for(var x in payload.parameters) {
                            var param = payload.parameters[x];

                            if(! param.standard) {
                                // Find index of the same standard param
                                var indexToDelte = -1;
                                for(var i in payload.parameters) {
                                    var sParam = payload.parameters[i];

                                    if(sParam.standard && sParam.ident === param.ident) {
                                        parameterIdsToIgnore.push(sParam._id);
                                        break;
                                    }
                                }
                            }
                        }

                        var newParamIdList = [];
                        for(var i in payload.parameters) {
                            var param = payload.parameters[i];

                            if(! arrayContainsString(param._id, parameterIdsToIgnore)) {
                                if(! arrayContainsString(param._id, newParamIdList)) {
                                    newParamIdList.push(param._id);
                                }
                            }
                        }
                        payload.parameterIds = [];
                        payload.parameterIds = newParamIdList;

                        $.post("/tabusearch", payload, function(data) {
                            console.log("Created TabuSearchSet " , data);

                            var url = "/tabusearch#?id=" + data._id;
                            $(location).attr("href", url);
                            window.setTimeout('location.reload()', 500);
                        }, "json");
                    }, 1000);
                }
            }

            function postTabuSearch() {
                // Check if params are in valid borders
                var foundNotValidValue = null;
                var minVal = "", maxVal = "";
                $(".parameter").each(function() {
                    if(typeof $(this).attr("min") !==  "undefined" && foundNotValidValue == null) {
                        if($(this).val() < parseFloat($(this).attr("min")) || $(this).val() >  parseFloat($(this).attr("max"))) {
                            foundNotValidValue = $(this).attr("id");
                            minVal = parseFloat($(this).attr("min"));
                            maxVal = parseFloat($(this).attr("max"));
                        }
                    }
                });
                if(foundNotValidValue != null) {
                    $.notify("Angegebener Parameterwert von " + foundNotValidValue + " ist nicht erlaubt. Gültige Werte: [" + minVal + "," + maxVal + "]", "error");

                    setTimeout(function() {
                        $.notify("Start vom ITS wurde abgebrochen.", "info");
                    }, 500);

                    return;
                }

                var payload = {
                    dataSetId: $("#dropwdownDatasetSelection").find(":selected").get(0).value,
                    parameterIds: [],
                    parameters: [],
                    optimizationObjectiveOrder: $("#sortable").sortable("toArray")
                };

                $.get("/standardparameters", function(standardparameters) {
                    // Count parameters
                    $(".parameter").each(function() {
                        var sParam = getStandardParameterWithIdent(standardparameters, $(this).get(0).id);
                        amountOfParameters = standardparameters.length;

                        if(sParam.value != $(this).get(0).value) {
                            amountOfParameters++;
                        };
                    });

                    $(".parameter").each(function() {
                        var sParam = getStandardParameterWithIdent(standardparameters, $(this).get(0).id);

                        if(sParam.value != $(this).get(0).value) {
                            var newParameter = {
                                ident: sParam.ident,
                                name: sParam.name,
                                description: sParam.description,
                                type: sParam.type,
                                value: $(this).get(0).value,
                                minValue: sParam.minValue,
                                maxValue: sParam.maxValue
                            };

                            $.post("/parameter", newParameter, function(data) {
                                payload.parameterIds.push(data._id);
                                payload.parameters.push(data);
                                finishPost(payload);
                            }, "json");
                        } else {
                            payload.parameterIds.push(sParam._id);
                            payload.parameters.push(sParam);
                            finishPost(payload);
                        }
                    });
                });
            }

            function getStandardParameterWithIdent(parameters, ident) {
                for(var i in parameters) {
                    var sParameter = parameters[i];

                    if(sParameter.ident == ident) {
                        return sParameter;
                    }
                }

                return null;
            }

            function toggleHiddenClass(id) {
                $("#" + id).toggleClass("hidden");
            }
        </script>
    </head>

    <body ng-controller="integratedTabuSearchController">
        <div class="topnav" id="customNavbar">
            <a href="/">Home</a>
            <a href="/dataupload">Datenupload</a>
            <a href="javascript:window.location = '/tabusearch'">ITS</a>
            <a href="/overviewdata">Datenüberblick</a>
            <a href="javascript:void(0);" class="icon" onclick="toggleNavbarClass('customNavbar')">&#9776;</a>
        </div>

        <div class="container" ng-show="performTabuSearch">
            <div class="row">
                <div class="col-md-12">
                    <h1>Iterated Tabu Search</h1>

                    <!-- Site shown when tabu search is performed -->
                    <div>
                        <div id="tabuSearchInfoAccordion">
                            <h2>1. Ausgewählten Optimization Objectives</h2>
                            <div>
                                <ol>
                                    <li ng-repeat="optName in optObjectivesNames">{{optName}}</li>
                                </ol>
                            </div>

                            <h2>2. Ausgewählten Parameter</h2>
                            <div>
                                <!--<input type="button" onclick="toggleHiddenClass('selectedParameters')" value="toggle">-->
                                <table id="selectedParametersTabuSearch" data-table-list class="table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th>Wert</th>
                                        <th>Beschreibung</th>
                                    </tr>
                                    </thead>
                                    <tr ng-repeat="param in standardParameters">
                                        <td scope="row">{{param.name}}</td>
                                        <td><input class="parameter" id="{{param.ident}}" type="number" disabled value="{{param.value}}"></td>
                                        <td>{{param.description}}</td>
                                    </tr>
                                </table>
                            </div>

                            <h2>3. Ausgewählter Datensatz</h2>
                            <div>
                                <p>Beschreibung: {{dataset.description}}</p>
                                <a href="/viewdataset#?id={{dataset._id}}" target="_blank">Link zum Ausgewählter Datensatz</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Algorithmus</h2>
                    <ol>
                        <li>Setze den Input als initiale Lösung <b><i>s0</i></b></li>
                        <li>Anwenden der Tabu Suche auf <b><i>s0</i></b>, um verbesserte Lösung <b><i>s^</i></b> zu erhalten</li>
                        <li>So lang in {{parameterKappa}} aufeinanderfolgenden Iterationen weitere keine Verbesserung erzielt werden konnte:</li>
                        <ol type="a">
                            <li>Wende eine Pertubation auf <b><i>s^</i></b> an, um <b><i>s'</i></b> zu erhalten</li>
                            <li>Anwenden der Tabu Suche auf <b><i>s'</i></b>, um lokales Optimum <b><i>s~</i></b> zu erhalten</li>
                            <li>Wenn <b><i>s~</i></b> die Akzeptanzkriterien erfüllt: <b><i>s^</i></b> <-- <b><i>s~</i></b></li>
                        </ol>
                        <li>Gebe die beste gefundene Lösung <b><i>s*</i></b> zurück</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Einstellungen</h2>

                    <span style="text-decoration: underline;">Anzeige:</span>
                    <div class="form-check">
                        <input ng-model="settingShowA" style="display: inline;" class="form-check-input setting-show" type="checkbox" id="setting-show-a" value="a">
                        <label class="form-check-label" for="setting-show-a">Zeige Schritt 3 a)</label>
                    </div>

                    <div class="form-check">
                        <input ng-model="settingShowB" style="display: inline;" class="form-check-input setting-show" type="checkbox" id="setting-show-b" value="b">
                        <label class="form-check-label" for="setting-show-b">Zeige Schritt 3 b)</label>
                    </div>

                    <div class="form-check">
                        <input ng-model="settingShowC" style="display: inline;" class="form-check-input setting-show" type="checkbox" id="setting-show-c" value="c">
                        <label class="form-check-label" for="setting-show-c">Zeige Schritt 3 c)</label>
                    </div>

                    <div class="form-check">
                        <input ng-model="settingShowNewBest" style="display: inline;" class="form-check-input setting-show" type="checkbox" id="setting-show-newBest" value="newBest">
                        <label class="form-check-label" for="setting-show-a">Zeige neue beste Lösung</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Row to visualize the ITS -->
                    <h2>Visualisierung</h2>
                    <div class="tabsContainer">
                        <ul class="tabs">
                            <li id="tab-link-1" class="tab-link current" data-tab="tab-1">Visualisierung</li>
                            <li id="tab-link-2" class="tab-link" data-tab="tab-2">Log</li>
                        </ul>

                        <div id="tab-1" class="tab-content current">
                            <div class="row iteration">
                                <div class="col-md-12">
                                    <hr class="hrDarkGray">
                                    <h3 style="margin-top: 10px;">Schritt 1.: Anfängliche Lösung</h3>
                                    <hr class="hrDarkGray"><hr class="hrDarkGray">
                                </div>

                                <div class="col-md-9">
                                    <div class="solution">
                                        <div ng-repeat="v in dataset.vehicles" class="vehicle color{{v.paintColor}}"><div class="vehicleNr centerDiv">{{v.orderNr}}</div></div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div>Informationen:</div>
                                    <ul>
                                        <li>f(s) = {{initialSolution.additionalInformation.actCostFunctionFResultFormatted}} und g(s) = {{initialSolution.additionalInformation.actCostFunctionGResultFormatted}}</li>
                                        <li>{{initialSolution.additionalInformation.actColorViolations}} Farbverletzungen mit insgesamt {{initialSolution.additionalInformation.actColorChanges}} Farbwechslungen
                                         ({{initialSolution.additionalInformation.actPaintGroups}} Farbgruppen)</li>
                                        <li>Ratio-Constraint Verletzungen (hohe Priorität): {{initialSolution.additionalInformation.actHighPrioViolations}}</li>
                                        <li>Ratio-Constraint Verletzungen (niedrige Priorität): {{initialSolution.additionalInformation.actLowPrioViolations}}</li>
                                    </ul>
                                </div>

                                <div class="col-md-12">
                                    <hr class="hrDarkGray">
                                </div>
                            </div>

                            <div class="row iteration">
                                <div ng-show="!improvedSolutionFound">
                                    <img class="centerDiv" src="/images/loadingGif.gif" alt="Loading ..."/>
                                </div>

                                <div class="col-md-12" ng-show="improvedSolutionFound">
                                    <h3>Schritt 2.: Verbesserte Lösung durch TabuSearch</h3>
                                    <hr class="hrDarkGray"><hr class="hrDarkGray">
                                </div>

                                <div class="col-md-9" ng-show="improvedSolutionFound">
                                    <div class="solution">
                                        <div ng-repeat="v in improvedSolution.vehicleOrder" class="vehicle color{{v.paintColor}}"><div class="vehicleNr centerDiv">{{v.orderNr}}</div></div>
                                    </div>
                                </div>

                                <div class="col-md-3" ng-show="improvedSolutionFound">
                                    <div>Informationen:</div>
                                    <ul>
                                        <li>f(s) = {{improvedSolution.additionalInformation.actCostFunctionFResultFormatted}} und g(s) = {{improvedSolution.additionalInformation.actCostFunctionGResultFormatted}}</li>
                                        <li>{{improvedSolution.additionalInformation.actColorViolations}} Farbverletzungen mit insgesamt {{improvedSolution.additionalInformation.actColorChanges}} Farbwechslungen
                                            ({{improvedSolution.additionalInformation.actPaintGroups}} Farbgruppen)</li>
                                        <li>Ratio-Constraint Verletzungen (hohe Priorität): {{improvedSolution.additionalInformation.actHighPrioViolations}}</li>
                                        <li>Ratio-Constraint Verletzungen (niedrige Priorität): {{improvedSolution.additionalInformation.actLowPrioViolations}}</li>
                                    </ul>
                                </div>

                                <div class="col-md-12" ng-show="improvedSolutionFound">
                                    <hr class="hrDarkGray">
                                </div>
                            </div>

                            <div class="row iteration">
                                <div class="col-md-12" ng-show="improvedSolutionFound">
                                    <h3>Schritt 3.: Durchführung des Iterated Tabu Search Algorithmus</h3>
                                    <hr class="hrDarkGray"><hr class="hrDarkGray">
                                </div>

                                <div class="col-md-12" ng-repeat="iteration in iterations" ng-class="iteration.sBestSolution ? 'newBest' : ''" id="{{iteration.iterationCounter}}"
                                    ng-hide="(!settingShowA && !settingShowB && !settingShowC && settingShowNewBest && !iteration.sBestSolution) || (!settingShowA && !settingShowB && !settingShowC && !settingShowNewBest)">
                                    <div class="col-md-12">
                                        <h4>Iteration #{{iteration.iterationCounter}}
                                            <i id="show-less-{{iteration.iterationCounter}}" onclick="showLessIteration($(this))" customref="show-more-{{iteration.iterationCounter}}" class="fas fa-search-minus show-less" title="Zeige weniger"></i>
                                            <i id="show-more-{{iteration.iterationCounter}}" onclick="showMoreIteration($(this))" customref="show-less-{{iteration.iterationCounter}}" class="fas fa-search-plus show-more hidden" title="Zeige mehr"></i>
                                            <i customref="log-{{iteration.iterationCounter}}" onclick="moveToLog($(this))" class="fa fa-info-circle show-log" aria-hidden="true" title="Zeige Iteration-Logs"></i>
                                        </h4>
                                    </div>

                                    <!-- Current solution (after permutation) -->
                                    <div class="col-md-12" id="{{iteration.iterationCounter}}-a" ng-show="settingShowA">
                                        <h5>a) Lösung nach der Permutation
                                            <i id="show-less-{{iteration.iterationCounter}}-a" onclick="showLess($(this))" customref="show-more-{{iteration.iterationCounter}}-a" class="fas fa-search-minus show-less" title="Zeige weniger"></i>
                                            <i id="show-more-{{iteration.iterationCounter}}-a" onclick="showMore($(this))" customref="show-less-{{iteration.iterationCounter}}-a" class="fas fa-search-plus show-more hidden" title="Zeige mehr"></i>
                                        </h5>

                                        <div class="col-md-9">
                                            <div class="solution">
                                                <div ng-repeat="v in iteration.sCurrent.vehicleOrder" class="vehicle color{{v.paintColor}}"><div class="vehicleNr centerDiv">{{v.orderNr}}</div></div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div>Informationen:</div>
                                            <ul>
                                                <li>f(s) = {{iteration.sCurrent.additionalInformation.actCostFunctionFResultFormatted}} und g(s) = {{iteration.sCurrent.additionalInformation.actCostFunctionGResultFormatted}}</li>
                                                <li>{{iteration.sCurrent.additionalInformation.actColorViolations}} Farbverletzungen mit insgesamt {{iteration.sCurrent.additionalInformation.actColorChanges}} Farbwechslungen
                                                    ({{iteration.sCurrent.additionalInformation.actPaintGroups}} Farbgruppen)</li>
                                                <li>Ratio-Constraint Verletzungen (hohe Priorität): {{iteration.sCurrent.additionalInformation.actHighPrioViolations}}</li>
                                                <li>Ratio-Constraint Verletzungen (niedrige Priorität): {{iteration.sCurrent.additionalInformation.actLowPrioViolations}}</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-12" ng-show="settingShowA">
                                        <hr class="hrDarkGray">
                                    </div>

                                    <!-- Local solution optimum (after Tabu Search) -->
                                    <div class="col-md-12" id="{{iteration.iterationCounter}}-b" ng-show="settingShowB">
                                        <h5>b) Lokales Optimum nach Tabu Suche
                                            <i id="show-less-{{iteration.iterationCounter}}-b" onclick="showLess($(this))" customref="show-more-{{iteration.iterationCounter}}-b" class="fas fa-search-minus show-less" title="Zeige weniger"></i>
                                            <i id="show-more-{{iteration.iterationCounter}}-b" onclick="showMore($(this))" customref="show-less-{{iteration.iterationCounter}}-b" class="fas fa-search-plus show-more hidden" title="Zeige mehr"></i>
                                        </h5>

                                        <div class="col-md-9">
                                            <div class="solution">
                                                <div ng-repeat="v in iteration.sLocalOptimum.vehicleOrder" class="vehicle color{{v.paintColor}}"><div class="vehicleNr centerDiv">{{v.orderNr}}</div></div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div>Informationen:</div>
                                            <ul>
                                                <li>f(s) = {{iteration.sLocalOptimum.additionalInformation.actCostFunctionFResultFormatted}} und g(s) = {{iteration.sLocalOptimum.additionalInformation.actCostFunctionGResultFormatted}}</li>
                                                <li>{{iteration.sLocalOptimum.additionalInformation.actColorViolations}} Farbverletzungen mit insgesamt {{iteration.sLocalOptimum.additionalInformation.actColorChanges}} Farbwechslungen
                                                    ({{iteration.sLocalOptimum.additionalInformation.actPaintGroups}} Farbgruppen)</li>
                                                <li>Ratio-Constraint Verletzungen (hohe Priorität): {{iteration.sLocalOptimum.additionalInformation.actHighPrioViolations}}</li>
                                                <li>Ratio-Constraint Verletzungen (niedrige Priorität): {{iteration.sLocalOptimum.additionalInformation.actLowPrioViolations}}</li>
                                            </ul>
                                        </div>
                                    </div>


                                    <div class="col-md-12" ng-show="improvedSolutionFound && settingShowB">
                                        <hr class="hrDarkGray">
                                    </div>

                                    <!-- sImproved <-- local optimum -->
                                    <div class="col-md-12" id="{{iteration.iterationCounter}}-c" ng-show="settingShowC">
                                        <h5>c) Verbesserte Lösung nach dem Akzeptanzkriterum
                                            <i id="show-less-{{iteration.iterationCounter}}-c" onclick="showLess($(this))" customref="show-more-{{iteration.iterationCounter}}-c" class="fas fa-search-minus show-less" title="Zeige weniger"></i>
                                            <i id="show-more-{{iteration.iterationCounter}}-c" onclick="showMore($(this))" customref="show-less-{{iteration.iterationCounter}}-c" class="fas fa-search-plus show-more hidden" title="Zeige mehr"></i>
                                        </h5>

                                        <div class="col-md-9">
                                            <div class="solution">
                                                <div ng-repeat="v in iteration.sImproved.vehicleOrder" class="vehicle color{{v.paintColor}}"><div class="vehicleNr centerDiv">{{v.orderNr}}</div></div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div>Informationen:</div>
                                            <ul>
                                                <li>f(s) = {{iteration.sImproved.additionalInformation.actCostFunctionFResultFormatted}} und g(s) = {{iteration.sImproved.additionalInformation.actCostFunctionGResultFormatted}}</li>
                                                <li>{{iteration.sImproved.additionalInformation.actColorViolations}} Farbverletzungen mit insgesamt {{iteration.sImproved.additionalInformation.actColorChanges}} Farbwechslungen
                                                    ({{iteration.sImproved.additionalInformation.actPaintGroups}} Farbgruppen)</li>
                                                <li>Ratio-Constraint Verletzungen (hohe Priorität): {{iteration.sImproved.additionalInformation.actHighPrioViolations}}</li>
                                                <li>Ratio-Constraint Verletzungen (niedrige Priorität): {{iteration.sImproved.additionalInformation.actLowPrioViolations}}</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- sImproved <-- local optimum -->
                                    <div class="col-md-12" ng-show="iteration.sBestSolution && settingsShowC">
                                        <hr class="hrDarkGray">
                                    </div>
                                    <div class="col-md-12" ng-show="iteration.sBestSolution && settingShowNewBest" id="{{iteration.iterationCounter}}-newBest">
                                        <h5 style="text-decoration: underline;">Neue gefundene beste Lösung:
                                            <i id="show-less-{{iteration.iterationCounter}}-newBest" onclick="showLess($(this))" customref="show-more-{{iteration.iterationCounter}}-newBest" class="fas fa-search-minus show-less" title="Zeige weniger"></i>
                                            <i id="show-more-{{iteration.iterationCounter}}-newBest" onclick="showMore($(this))" customref="show-less-{{iteration.iterationCounter}}-newBest" class="fas fa-search-plus show-more hidden" title="Zeige mehr"></i>
                                        </h5>

                                        <div class="col-md-9">
                                            <div class="solution">
                                                <div ng-repeat="v in iteration.sBestSolution.vehicleOrder" class="vehicle color{{v.paintColor}}"><div class="vehicleNr centerDiv">{{v.orderNr}}</div></div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div>Informationen:</div>
                                            <ul>
                                                <li>f(s) = {{iteration.sBestSolution.additionalInformation.actCostFunctionFResultFormatted}} und g(s) = {{iteration.sBestSolution.additionalInformation.actCostFunctionGResultFormatted}}</li>
                                                <li>{{iteration.sBestSolution.additionalInformation.actColorViolations}} Farbverletzungen mit insgesamt {{iteration.sBestSolution.additionalInformation.actColorChanges}} Farbwechslungen
                                                    ({{iteration.sBestSolution.additionalInformation.actPaintGroups}} Farbgruppen)</li>
                                                <li>Ratio-Constraint Verletzungen (hohe Priorität): {{iteration.sBestSolution.additionalInformation.actHighPrioViolations}}</li>
                                                <li>Ratio-Constraint Verletzungen (niedrige Priorität): {{iteration.sBestSolution.additionalInformation.actLowPrioViolations}}</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <hr class="hrDarkGray hrDarkGrayThick">
                                    </div>
                                </div>

                                <div class="cold-md-12" ng-show="improvedSolutionFound && !bestSolutionFound">
                                    <div style="text-align: center">{{lastLog}} ({{iterationsSinceLastBestSolution}} Iterationen ohne Verbesserung)</div>
                                    <img class="centerDiv" src="/images/loadingGif.gif" alt="Loading ..."/>
                                </div>
                            </div>

                            <div class="row iteration" ng-show="bestSolutionFound">
                                <div class="col-md-12" ng-show="improvedSolutionFound">
                                    <h3>Schritt 4: Beste gefundene Lösung</h3>
                                    <hr class="hrDarkGray"><hr class="hrDarkGray">
                                </div>

                                <div class="col-md-9" >
                                    <div class="solution">
                                        <div ng-repeat="v in bestSolution.sBestSolution.vehicleOrder" class="vehicle color{{v.paintColor}}"><div class="vehicleNr centerDiv">{{v.orderNr}}</div></div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div>Informationen:</div>
                                    <ul>
                                        <li>f(s) = {{bestSolution.sBestSolution.additionalInformation.actCostFunctionFResultFormatted}} und g(s) = {{bestSolution.sBestSolution.additionalInformation.actCostFunctionGResultFormatted}}</li>
                                        <li>{{bestSolution.sBestSolution.additionalInformation.actColorViolations}} Farbverletzungen mit insgesamt {{bestSolution.sBestSolution.additionalInformation.actColorChanges}} Farbwechslungen
                                            ({{bestSolution.sBestSolution.additionalInformation.actPaintGroups}} Farbgruppen)</li>
                                        <li>Ratio-Constraint Verletzungen (hohe Priorität): {{bestSolution.sBestSolution.additionalInformation.actHighPrioViolations}}</li>
                                        <li>Ratio-Constraint Verletzungen (niedrige Priorität): {{bestSolution.sBestSolution.additionalInformation.actLowPrioViolations}}</li>
                                    </ul>
                                </div>

                                <div class="col-md-12">
                                    <hr class="hrDarkGray">
                                </div>
                            </div>
                        </div>

                        <div id="tab-2" class="tab-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="log in logs" class="log-{{log.iterationCounter}}" ng-class="{logMarginBottom: log.marginBottom, logMarginLeft:  log.marginLeft}">{{log.text}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ################################# -->
        <!-- Site shown when run is configured -->
        <!-- ################################# -->
        <div class="container" ng-show="!performTabuSearch">
            <div class="row">
                <div class="col-md-12">
                    <h2>Introduction TODO</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>1. Wahl der Optimization Objectives</h2>
                    <ul id="sortable" style="width: 100%;">
                        <li class="ui-state-default optObjOrder" id="paint_color_batches">
                            <span class="ui-icon ui-icon-arrowthick-2-n-s optObjOrderIcon"></span>
                            <p class="optObjOrderText">Paint color batches</p>
                        </li>

                        <li class="ui-state-default optObjOrder" id="high_priority" >
                            <span class="ui-icon ui-icon-arrowthick-2-n-s optObjOrderIcon"></span>
                            <p class="optObjOrderText">High priority ratio constraints</p>
                            <span class="ui-icon ui-icon-minusthick optObjOrderIcon optObjOrderIconDelte" onclick="removeOptObj('high_priority')"></span>
                        </li>

                        <li class="ui-state-default optObjOrder" id="low_priority">
                            <span class="ui-icon ui-icon-arrowthick-2-n-s optObjOrderIcon"></span>
                            <p class="optObjOrderText">Low priority ratio constraints</p>
                            <span class="ui-icon ui-icon-minusthick optObjOrderIcon optObjOrderIconDelte" onclick="removeOptObj('low_priority')"></span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>2. Anpassung der Parameter</h2>
                    <div id="tabuSearchInfoAccordionWithinConfiguration">
                        <h2>Server-Standardparameter</h2>
                        <div>
                            <table id="selectedParameters" data-table-list class="table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th>Wert</th>
                                    <th>Beschreibung</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="param in standardParameters">
                                    <td scope="row">{{param.name}}</td>
                                    <td><input min="{{param.minValue}}" max="{{param.maxValue}}" class="parameter" id="{{param.ident}}" type="number" value="{{param.value}}"></td>
                                    <td>{{param.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>3. Wahl des Datensatzes</h2>
                    <select ng-model="selectedDatasetId" id="dropwdownDatasetSelection">
                        <option ng-repeat="dataset in datasets" value="{{dataset._id}}">{{dataset.description}}</option>
                    </select>
                    <a href="/viewdataset#?id={{selectedDatasetId}}" target="_blank" ng-show="selectedDatasetId != ''">View dataset</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>4. Start des Algorithmus</h2>
                    <p ng-show="selectedDatasetId == ''">Es müssen alle vorherigen Schritte durchgeführt worden sein, bevor der
                        ITS gestartet werden kann.</p>
                    <a type="button" id="btnTabuSearch" value="Start" ng-show="selectedDatasetId != ''" class="btn btn-lg btn-primary"
                       onclick="postTabuSearch()">Start</a>
                </div>
            </div>
        </div>
    </body>
</html>