<!DOCTYPE html>
<html ng-app="integratedTabuSearchApp">
    <head>
        <script src="/javascripts/jquery-3.2.1.min.js"></script>
        <script src="/javascripts/angular.min-1.5.6.js"></script>

        <script src="/javascripts/controllers/integratedTabuSearchController.js"></script>

        <script src="/javascripts/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css"/>

        <style>
            #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
            #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
            #sortable li span { position: absolute; margin-left: -1.3em; }
        </style>

        <script>
            $(document).ready(function() {
                if(typeof $.urlParam('id') !== "string") {
                    $("#sortable").sortable();
                    $("#sortable").disableSelection();
                }
            });

            var callingCounter = 0;
            function finishPost(amountOfParameters, payload) {
                callingCounter++;

                if(callingCounter == amountOfParameters) {
                    // All parameters were checked
                    callingCounter = 0;

                    $.post("/tabusearch", payload, function(data) {
                        console.log("Created TabuSearchSet " , data);

                        var url = "/tabusearch#?id=" + data._id;
                        $(location).attr("href", url);
                        window.setTimeout('location.reload()', 1000);
                    }, "json");
                }
            }

            function postTabuSearch() {
                var payload = {
                    dataSetId: $("#dropwdownDatasetSelection").find(":selected").get(0).value,
                    parameterIds: [],
                    optimizationObjectiveOrder: $("#sortable").sortable("toArray")
                };

                $.get("/standardparameters", function(standardparameters) {
                    $(".parameter").each(function() {
                        var sParam = getStandardParameterWithIdent(standardparameters, $(this).get(0).id);

                        if(sParam.value != $(this).get(0).value) {
                            var newParameter = {
                                ident: sParam.ident,
                                name: sParam.name,
                                description: sParam.description,
                                type: sParam.type,
                                value: $(this).get(0).value
                            };

                            $.post("/parameter", newParameter, function(data) {
                                payload.parameterIds.push(data._id);
                                finishPost(standardparameters.length, payload);
                            }, "json");
                        } else {
                            payload.parameterIds.push(sParam._id);
                            finishPost(standardparameters.length, payload);
                        }
                    });
                });
            }

            function getStandardParameterWithIdent(parameters, ident) {
                for(var i in parameters) {
                    var sParameter = parameters[i];

                    if(sParameter.ident == ident) {
                        return sParameter;
                    }
                }

                return null;
            }

            $.urlParam = function(name){
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                if (results==null){
                    return null;
                }
                else{
                    return decodeURI(results[1]) || 0;
                }
            }
        </script>
    </head>

    <body ng-controller="integratedTabuSearchController">
        <h1>Iterated Tabu Search</h1>

        <!-- Site shown when tabu search is performed -->
        <div ng-show="performTabuSearch">

        </div>

        <!-- Site shown when run is configured -->
        <div ng-show="!performTabuSearch">
            <h2>Introduction TODO</h2>

            <h2>1. Select Optimization Objectives</h2>
            <ul id="sortable">
                <li class="ui-state-default" id="high_priority">
                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                    High priority ratio constraints
                </li>

                <li class="ui-state-default" id="paint_color_batches">
                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                    Paint color batches
                </li>

                <li class="ui-state-default" id="low_priority">
                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                    Low priority ratio constraints
                </li>
            </ul>


            <h2>2. Select Parameters</h2>
            <table>
                <thead>
                <th>Name</th>
                <th>Value</th>
                <th>Description</th>
                </thead>
                <tr ng-repeat="param in standardParameters">
                    <td>{{param.name}}</td>
                    <td><input class="parameter" id="{{param.ident}}" type="number" value="{{param.value}}"></td>
                    <td>{{param.description}}</td>
                </tr>
            </table>

            <h2>3. Select Dataset</h2>
            <select ng-model="selectedDatasetId" id="dropwdownDatasetSelection">
                <option ng-repeat="dataset in datasets" value="{{dataset._id}}">{{dataset.description}}</option>
            </select>
            <a href="/viewdataset#?id={{selectedDatasetId}}" target="_blank" ng-show="selectedDatasetId != ''">View dataset</a>

            <h2>4. Configuration (TODO)</h2>

            <h2>5. Start Algorithm</h2>
            <input type="button" id="btnTabuSearch" value="Start" ng-show="selectedDatasetId != ''" onclick="postTabuSearch()">
        </div>
    </body>
</html>