<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="de" ng-app="integratedTabuSearchApp">
<head>
    <meta charset="utf-8">
    <title>ITS - Dataupload</title>
    <link rel="shortcut icon" href="/images/or-favicon.png"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/angular.min-1.5.6.js"></script>
    <script src="/javascripts/controllers/viewDataSetController.js"></script>
    <script src="/javascripts/tether.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/javascripts/its-utility.js" type="text/javascript"></script>

    <link href="/stylesheets/tether.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/pigendo-bootstrap-default.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="viewDataSetController">
<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#"><span>Brand</span></a>-->
            <!-- TODO insert branding <img src="res/img/brand.png" class="img-responsive index-brand">-->
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/dataupload">Datenupload</a>
                </li>
                <li>
                    <a href="/tabusearch">ITS</a>
                </li>
                <li>
                    <a href="/overviewdata">Datenüberblick</a>
                </li>
                <li>
                    <a id="navbar-benefits" href="/#section-benefits" onclick="customScrollTo('#section-benefits', 1500)">Prototyp</a>
                </li>
                <li>
                    <a href="/#section-team" id="navbar-team" onclick="customScrollTo('#section-team', 1500)">Team</a>
                </li>
                <li>
                    <a href="/#section-contact" id="navbar-contact" onclick="customScrollTo('#section-contact', 1500)">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h1>Dataset (Id: {{id}})</h1>

    <h2>Statistics</h2>
    <table>
        <tr>
            <td>Created on: </td>
            <td>{{dataset.parsedTimestamp}}</td>
        </tr>

        <tr>
            <td>Amount ratios: </td>
            <td>{{dataset.ratiosAmount}}</td>
        </tr>

        <tr>
            <td>Amount vehicles: </td>
            <td>{{dataset.vehiclesAmount}}</td>
        </tr>
    </table>

    <h2>Ratios</h2>
    <table>
        <thead>
        <th>Nr.</th>
        <th>ID</th>
        <th>DB ID</th>
        <th>Prio</th>
        <th>Ratio</th>
        </thead>

        <tr ng-repeat="ratio in dataset.ratios">
            <td>{{ratio.nr}}</td>
            <td>{{ratio.ident}}</td>
            <td>{{ratio._id}}</td>
            <td>{{ratio.prio}}</td>
            <td>{{ratio.ratio}}</td>
        </tr>
    </table>

    <h2>Vehicles</h2>
    <table>
        <thead>
        <th>Nr.</th>
        <th>ID</th>
        <th>DB ID</th>
        <th>Date</th>
        <th>Seq. rank</th>
        <th>Paint colors</th>
        <th>Activated features</th>
        </thead>

        <tr ng-repeat="vehicle in dataset.vehicles">
            <td>{{vehicle.nr}}</td>
            <td>{{vehicle.ident}}</td>
            <td>{{vehicle._id}}</td>
            <td>{{vehicle.dateString}}</td>
            <td>{{vehicle.seqRank}}</td>
            <td>{{vehicle.paintColor}}</td>
            <td>
                <span ng-repeat="feature in vehicle.activatedFeatures">
                    {{feature.ident}}
                </span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>