<!DOCTYPE html>
<html ng-app="integratedTabuSearchApp">
  <head>
      <script src="/javascripts/jquery-3.2.1.min.js"></script>
      <script src="/javascripts/angular.min-1.5.6.js"></script>

      <script src="/javascripts/controllers/viewDataSetController.js"></script>
  </head>

  <body ng-controller="viewDataSetController">
    <h1>Dataset (Id: {{id}})</h1>

    <h2>Statistics</h2>
    <table>
        <tr>
            <td>Created on: </td>
            <td>{{dataset.parsedTimestamp}}</td>
        </tr>

        <tr>
            <td>Amount ratios: </td>
            <td>{{dataset.ratiosAmount}}</td>
        </tr>

        <tr>
            <td>Amount vehicles: </td>
            <td>{{dataset.vehiclesAmount}}</td>
        </tr>
    </table>

    <h2>Ratios</h2>
    <table>
        <tr>
            <th>Nr.</th>
            <th>ID</th>
            <th>DB ID</th>
            <th>Prio</th>
            <th>Ratio</th>
        </tr>

        <tr ng-repeat="ratio in dataset.ratios">
            <td>{{ratio.nr}}</td>
            <td>{{ratio.ident}}</td>
            <td>{{ratio._id}}</td>
            <td>{{ratio.prio}}</td>
            <td>{{ratio.ratio}}</td>
        </tr>
    </table>

    <h2>Vehicles</h2>
    <table>
        <tr>
            <th>Nr.</th>
            <th>ID</th>
            <th>DB ID</th>
            <th>Date</th>
            <th>Seq. rank</th>
            <th>Paint colors</th>
            <th>Activated features</th>
        </tr>

        <tr ng-repeat="vehicle in dataset.vehicles">
            <td>{{vehicle.nr}}</td>
            <td>{{vehicle.ident}}</td>
            <td>{{vehicle._id}}</td>
            <td>{{vehicle.dateString}}</td>
            <td>{{vehicle.seqRank}}</td>
            <td>{{vehicle.paintColor}}</td>
            <td>
                <span ng-repeat="feature in vehicle.activatedFeatures">
                    {{feature.ident}}
                </span>
            </td>
        </tr>
    </table>
  </body>
</html>