<!DOCTYPE html>
<html ng-app="integratedTabuSearchApp">
  <head>
      <script src="/javascripts/jquery-3.2.1.min.js"></script>
      <script src="/javascripts/angular.min-1.5.6.js"></script>

      <script src="/javascripts/controllers/viewDataSetController.js"></script>
  </head>

  <body ng-controller="viewDataSetController">
    <h1>Dataset Darstellung: {{id}}</h1>
  </body>
</html>